.main-screen {
  padding-top: 60px;

  &-content {
    height: 925px;
  }

  &__title {
    max-width: 925px;
    margin: 0 auto;
    margin-bottom: 68px;
    color: #ffffff;
    
    .title {
      font-family: 'Marvin', sans-serif;
      font-weight: 400;
      font-size: 72px;
      line-height: 110%;
      text-align: center;
    }
  }

  &__subtitle {
    max-width: 591px;
    margin: 0 auto;
    color: #ffffff;
    
    .subtitle {
      font-family: 'Marvin', sans-serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 120%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 956px) {
  .main-screen {
    &-content {
      height: auto;
      margin-bottom: 35px;
    }

    &__title {
      .title {
        font-size: 56px;
        line-height: 110%;
      }
    }

    &__subtitle {
      .subtitle {
        font-size: 30px;
        line-height: 120%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-screen {
    &-content {
      height: auto;
      margin-bottom: 35px;
    }

    &__title {
      .title {
        font-size: 36px;
      }
    }

    &__subtitle {
      .subtitle {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .main-screen {
    &-content {
      height: auto;
      margin-bottom: 35px;
    }

    &__title {
      .title {
        font-size: 32px;
      }
    }

    &__subtitle {
      .subtitle {
        font-size: 20px;
      }
    }
  }
}