.main-screen {
  padding-top: 60px;

  &-content {
    height: 925px;
  }

  &__title {
    max-width: 925px;
    margin: 0 auto;
    margin-bottom: 68px;
    color: #ffffff;
    
    .title {
      font-weight: 400;
      font-size: 72px;
      line-height: 110%;
      text-align: center;
    }
  }

  &__subtitle {
    max-width: 591px;
    margin: 0 auto;
    color: #ffffff;
    
    .subtitle {
      font-weight: 400;
      font-size: 40px;
      line-height: 120%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 956px) {
  .main-screen {
    &-content {
      height: auto;
      margin-bottom: 35px;
    }
  }
}