@font-face {
  font-family: "Futura New Book";
  src: url("./assets/fonts/FuturaNewBook-Obl.woff2") format("woff2"),
    url("./assets/fonts/FuturaNewBook-Obl.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura New Demi";
  src: url("./assets/fonts/FuturaNewDemi-Reg.woff2") format("woff2"),
    url("./assets/fonts/FuturaNewDemi-Reg.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura New";
  src: url("./assets/fonts/FuturaNewMedium-Reg.woff2") format("woff2"),
    url("./assets/fonts/FuturaNewMedium-Reg.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura New Book";
  src: url("./assets/fonts/FuturaNewBook-Reg.woff2") format("woff2"),
    url("./assets/fonts/FuturaNewBook-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marvin";
  src: url("./assets/fonts/Marvin-Round.woff2") format("woff2"),
    url("./assets/fonts/Marvin-Round.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Futura New Book", sans-serif;
  margin: 0;
  padding: 0;
  background: #2c4890 url("./assets/img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.App {
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: "Futura New Book", sans-serif;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.scheme {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.section__title {
  font-family: "Marvin", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1363px) {
  body {
    background: #2c4890 url("./assets/img/main-bg-tablet.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

@media screen and (max-width: 956px) {
  body {
    background: #2c4890 url("./assets/img/main-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .section__title {
    font-size: 46px;
    line-height: 110%;
  }
}

@media screen and (max-width: 390px) {
  .scheme {
    padding: 0 16px;
  }

  .section__title {
    font-size: 32px;
  }
}

/* animation */

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}
