.winners {
  position: relative;
  padding-top: 360px;
  padding-bottom: 120px;
  
  &-content {
    height: 581px;
    color: #ffffff;
  }

  &__content {
    height: 400px;
    max-width: 794px;
    max-height: 400px;
    overflow-y: auto;
    margin: 0 auto;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #139DD7;
    }
  }

  &__title {
    margin-bottom: 50px;
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__tabs-button {
    padding: 16px 32px;
    border-radius: 68px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #282828;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.active {
      background-color: #139DD7;
      color: #ffffff;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    padding: 16px 0;
    padding-right: 10px;
    border-top: 1px solid #78819C;

    &:last-child {
      border-bottom: 1px solid #78819C;
    }
  }

  &__line-number {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    min-height: 44px;
    background-color: #139DD7;
    border-radius: 50%;
  }

  &__line-name {
    margin-right: auto;
    margin-left: 20px;
  }
}

.winners {
  .moon {
    position: absolute;
    bottom: -40%;
    z-index: -1;
  }
  
  .star {
    position: absolute;
    top: 30%;
    right: 0;
  }
  
  .planet {
    position: absolute;
    top: 22%;
    left: 6%;
  }
}

@media screen and (max-width: 1166px) {
  .winners {
    .moon {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .winners {
    .planet {
      left: -7%;
    }
  }
}

@media screen and (max-width: 736px) {
  .winners {
    .star {
      position: absolute;
      bottom: 0;
      top: auto;
      right: -110px;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 540px) {
  .winners {
    .planet {
      top: 15%;
      left: -12%;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 430px) {
  .winners {
    padding-bottom: 60px;
    
    &__tabs-button {
      font-size: 14px;
      line-height: 120%;
      padding: 12px 20px;
    }

    &__line {
      font-size: 14px;
    }
  }
}


